<div>
    <form [formGroup]="habitForm" (ngSubmit)="onSubmit()">
        <h1>CREATE HABIT</h1>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Dscription</mat-label>
            <textarea matInput name="description" formControlName="description"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
</div>