@use '@angular/material' as mat;
@include mat.core();
//Themes
$light-primary: mat.define-palette(mat.$teal-palette);
$light-accent: mat.define-palette(mat.$cyan-palette);
$light-warn: mat.define-palette(mat.$indigo-palette);
$light-theme: mat.define-light-theme(( color: ( primary: $light-primary, accent: $light-accent, warn: $light-warn)));
//Use
@include mat.core-theme($light-theme);