/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    background: #eeeeee;
    width: 100%;
    height: 100%;
}

.container .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.container .content .content-title {
    color: #363535;
    padding: 20px;
    font-size: 45px;
    margin-bottom: 16px;
}

.container .content .content-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-sheet-boards-form mat-bottom-sheet-container {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.fit-content {
    flex: 1;
    height: 100%;
    position: relative;
}